/* Estilos existentes */
nav {
  display: none; /* Ocultar el nav original */
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: rgba(252, 248, 248, 0.9); /* Translucidez */
  color: rgb(0, 0, 0); /*color "logo*/
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 20px;
}

.sidebar .logo {
  padding: 20px;
  text-align: center;
}

.sidebar .nav-links {
  list-style: none;
  padding: 0;
}

.sidebar .nav-links li {
  padding: 15px 20px;
  text-align: center;
}

.sidebar .nav-links a {
  text-decoration: none;
  color: rgb(14, 13, 13);
  display: block;
}

.sidebar .logout-btn {
  background-color: #ff0000;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.content {
  transition: margin-left 0.5s;
  padding: 20px;
}

.toggle-btn {
  font-size: 30px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 200px;
    left: -200px;
  }

  .toggle-btn {
    font-size: 25px;
    padding: 8px 12px;
  }
}
