nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.logout-btn {
  background-color: #ff0000; /* Color de fondo rojo */
  color: black; /* Color de texto negro */
  padding: 10px 20px; /* Ajustar el padding según el tamaño deseado */
  border-radius: 5px; /* Añadir bordes redondeados */
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
